* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: rgb(157, 217, 245);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
}

.titre_header {
  margin-left: 20px;
}

.header_lien {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  gap: 5px;
  font-size: 25px;
}

main {
  display: flex;
  flex-direction: column;
  
  gap: 45px;
  background-color: rgb(158, 190, 245);
  ;

}
h1{
  display: flex ;
  justify-content: center;
}
.main_page {
  display: flex;
  justify-content: space-around;
  font-size: 20px;

}

.image_brebis {
 height:500px ;
 width: 550px;

}


.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
  gap: 30px;
  overflow-y: scroll;
  height: 500px;

}

.post {
  font-size: 21px;
  background-color: white;
  border-radius: 20px;
  border: solid;
  width: 450px;
  height: 220px;
  padding: 5px;
  

}
.publi_contenu{
  border: solid;
  border-radius: 20px;
  


}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  height: 100%;
  width: 300px;

}

.colonne_form {
  height: 30px;
  font-size: 20px;
  
}
.form_contenu{
  height: 250px;
  font-size: 20px;
}
.form_contenu_profil{
  height: 100px;
  width: 500px;
  font-size: 20px;
  
}
.form_inscription{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
.inscription {
  
  font-size: 20px;
  font-weight: bold;
  font-style: italic;

}
.profil{
  display: flex;

}
.posts_profil{
 
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;  
  gap: 50px;
  height: 500px;
  overflow-y: scroll;

  
}
.post_profil{
   
  font-size: 21px;
  border: solid;
  border-radius: 20px;
  width: 500px;
  height: 200px;
  padding: 15px;
  
  
  
}

.footer {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgb(22, 66, 198);
  padding: 10px;


}

.header_login {
  background-color: rgb(108, 174, 117);
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
}

.image_ognion {
  width: 650px;
  height: 450px;
}
.suprrimer_profil{
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  
}
.deconnexion{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 50px;
  height: 480px;
  font-size: 35px;
}