

body { 
    background: linear-gradient(rgb(43, 204, 232),rgb(246, 56, 135));
    
} 

.form {
    display:flex;
    justify-content: center ;
    flex-direction: column;
    gap: 40px;
    padding: 50px;
}   